@model Website.Models.Admins
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Thay đổi thông tin";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Xửa thông tin quản trị</h2>
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <table class="table-admin-create">          
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.FullName)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FullName)<br />
                    @Html.ValidationMessageFor(model => model.FullName)<br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password)<br />
                    @Html.ValidationMessageFor(model => model.Password)<br />
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.Sex)
                </td>
                <td>
                    <select id="Sex" name="Sex">
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                    </select><br /><br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.Phone)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Phone)<br />
                    @Html.ValidationMessageFor(model => model.Phone)<br />
                </td>
            </tr>
            
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.RoleId)
                </td>
                <td>
                   @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewData["role"])<br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Active)
                    
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.CreateDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreateDate, new { @Value = DateTime.Now.ToShortDateString() })
                    @Html.HiddenFor(mode => mode.UserId)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Email)
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Xửa lại" />
        </p>
    </fieldset>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
