@model Website.Models.ResetPassword

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Login.cshtml";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lấy lại mật khẩu</legend>
        <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email, new { @class="singbox"})
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        <p>
            <input type="submit" value="Lấy lại" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
