<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mr Xoay</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/slider")
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/cycle.js"></script>
    <script>
        $(document).ready(function () {
            $(".MENU1 > li > a").click(function () {
                $(".MENU1 > li").removeClass("ACTIVE-MENU");
                $(this).addClass("ACTIVE-MENU");
            });
        });
        $(document).ready(function () {
            $('.slider').carousel({
                autoplay: true, // Enables auto play of slides
                autoplaySpeed: 5000, // Auto play change interval
                dots: false, // dots navigation
                arrows: true, // Next/Prev arrows
                infinite: true, // Infinite looping
                speed: 20,// Transition speed
                swipe: true // touch swipe
            });
        });
    </script>
</head>
<body>
    <div class="wrap">
        <header>
            <div class="content-wrapper">
                <div class="margin-top"></div>
                <div class="menu-logo">
                    <div class="logo">
                        @Html.Action("_banner_top","Home")
                    </div>
                    <nav class="menu-nav">
                        @*<ul id="menu" style="margin: 0px; list-style-type: none; color: #ed2024;">
                            <li class="active-menu"><a href="#">HOME</a></li>
                            <li><a href="#">GIỚI THIỆU</a></li>
                            <li><a href="#">SẢN PHẨM</a></li>
                            <li><a href="#">TIN TỨC</a></li>
                            <li><a href="#">LIÊN HỆ</a></li>
                            <li><a href="#">THƯ VIỆN ẢNH</a></li>
                        </ul>*@
                        @Html.Action("_menu1","Home")
                    </nav>
                </div>
                <div class="menu-shadow">
                </div>
            </div>
        </header>
        <div id="body" style="float: left;">
            <section class="content-main float-left">
                <div class="slide-introduct float-left">
                    <div class="content-slider float-left">
                        @Html.Action("_banner_slide_center","Home")
                    </div>
                    <div class="introduct float-left">
                        <div class="img-introduct">
                            <img src="/content/images/intro-title.jpg" />
                        </div>
                        <div class="content-intro">
                             @Html.Partial("_HTML_introduct","Home")
                        </div>
                    </div>
                </div>
                <div class="content-main-index float-left">
                    @Html.Action("_list_category_product","Home")
                </div>
                @RenderBody()
            </section>
        </div>
        <footer class="float-left" style="width:950px;" >
            @Html.Action("_footer","home")                                                 
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
