@model Website.Models.Attribure
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Thêm mới</h2>

    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<fieldset>
        <legend><br /></legend>
        <table class="table-admin-create">
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    Tên thuộc tính
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name)<br />
                    @Html.ValidationMessageFor(model => model.Name)<br />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    Miêu tả thuộc tính
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Detail)<br />
                    @Html.ValidationMessageFor(model => model.Detail)<br />
                </td>
            </tr>

        </table>
    <p>
            <input type="submit" value="Thêm mới" />
        </p>
    </fieldset>
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
