@model Website.Models.Newss.NewsModel
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<script src="@Url.Content("~/Content/Plugin/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Plugin/ckfinder/ckfinder.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script type="text/javascript">
    function onComplate() {
        alert("Đã thêm mới");
    }

</script>

<h2>Thêm mới sản phẩm</h2>
@using (Html.BeginForm("Create", "News", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", OnComplete = "onComplate()" }))
{
    @Html.ValidationSummary(true)

        <div class="options">
            <input type="submit" name="save" class="t-button" value="Save"/>
            <input type="submit" name="save-continue" class="t-button" value="Save and continues" />
        </div>
    <p></p>
    Html.Telerik().TabStrip()
      .Name("TabStrip")
      .Items(TabStrip =>
      {
          TabStrip.Add().Text("Bài Viết").Content(TabInfo().ToHtmlString());
          TabStrip.Add().Text("Danh mục").Content(TabModule().ToHtmlString());
      }
      ).SelectedIndex(0).Render();
@helper TabInfo(){
    <fieldset>
        <legend>bài Viết</legend>
        <table class="table-admin-create">
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.Title)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.news.Title)<br />
                    @Html.ValidationMessageFor(model => model.news.Title)<br />
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.TitleEn)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.news.TitleEn)<br />
                    @Html.ValidationMessageFor(model => model.news.TitleEn)<br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.Description)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.news.Description)<br />
                    @Html.ValidationMessageFor(model => model.news.Description)<br />
                </td>
            </tr>

             <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.DescriptionEn)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.news.DescriptionEn)<br />
                    @Html.ValidationMessageFor(model => model.news.DescriptionEn)<br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.Image)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.news.Image,new { @id = "txtUpload" }) <input id="btUpload" name="Chọn ảnh" type="button" value="Chọn Ảnh" style="width:100px; margin-left:20px;" /><br />
                    @Html.ValidationMessageFor(model => model.news.Image)<br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.Detail)
                </td>
                <td style="width:940px;">
                    @Html.TextAreaFor(model => model.news.Detail, new {@id="txtdetail" })<br />
                    @Html.ValidationMessageFor(model => model.news.Detail)<br /><br />
                    <script type="text/javascript">
                        var editor;
                        function createEditor(languageCode, id, height, width) {
                            var editor = CKEDITOR.replace(id, {
                                language: languageCode,
                            });
                        }

                        $(document).ready(function () {
                            createEditor('vi', 'txtdetail', 300, 920);
                        });
                        </script>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.DetailEn)
                </td>
                <td style="width:940px;">
                    @Html.TextAreaFor(model => model.news.DetailEn, new {@id="txtdetailEn" })<br />
                    @Html.ValidationMessageFor(model => model.news.DetailEn)<br /><br />
                    <script type="text/javascript">
                        var editor;
                        function createEditor(languageCode, id, height, width) {
                            var editor = CKEDITOR.replace(id, {
                                language: languageCode,
                            });
                        }

                        $(document).ready(function () {
                            createEditor('vi', 'txtdetailEn', 300, 920);
                        });
                        </script>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.Active)
                </td>
                <td>
                    @Html.EditorFor(model => model.news.Active)<br />
                    @Html.ValidationMessageFor(model => model.news.Active)<br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.Tag)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.news.Tag)<br />
                    @Html.ValidationMessageFor(model => model.news.Tag)<br />
                </td>
            </tr>

            <tr>
                <td>
                    <img src="/Images/ico-help.gif" />
                </td>
                <td style="width:150px;">
                    @Html.LabelFor(model => model.news.CreateDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.news.CreateDate, new {@Value=DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")})
                    @Html.HiddenFor(model => model.news.UserCreate, new {@value=User.Identity.Name })
                </td>
            </tr>
        </table>
    </fieldset>
    }

@helper TabModule(){
    <div>
        <p></p>
        Phải add Product trước khi thêm TabMenufacture
        <p></p>
    </div> 
    }

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

